<div class="jumbotron mt-4">
  <h1>Hello, <span class="text-lowercase">{{ntlm.UserName}}!</span></h1>
  <h4>Welcome to RDA Self 2.0 landing page</h4>
  <hr>
  <li>This site is best viewed in desktop with chromium-based browser</li>
  <li>Minimum display width for proper viewing is 1000px</li>
  <hr>
  <p>Your account details:</p>
  <ul>
    <li>Username: {{user.name}}</li>
    <li>Section: {{user.section}}</li>
    <li>GJS: {{user.gjs}}</li>
    <li>Permission: {{user.permission}}</li>
  </ul>
</div>

{{#isFalsey show}}
  <div class="alert alert-info" role="alert">
    You have nothing to show here.
  </div>
{{/isFalsey}}

{{#if show.indiv}}
  <h4>Your checklist progress:</h4>
  <div class="mb-4" id="indiv-table-container"></div>
  <div class="mb-4" id="indiv-chart-container"></div>
  <div class="mb-4" id="indiv-section-container"></div>
{{/if}}

{{#if elevation}}
  <h2 class="form-inline">
    <label for="select-fq" class="mr-2">Select Quarter:</label>
    <select name="select-fq" id="select-fq" class="form-control">
      {{#each quarters}}
        <option {{#eq this @root.currQ}}selected{{/eq}} value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </h2>
  <hr>
{{/if}}

{{#if show.engproc}}
  <h4>Eng Proc overall status for <span id="selected-fq">{{currQ}}</span>:</h4>
  <div class="mb-4" id="engproc-table-container"></div>
  <div class="mb-4" id="engproc-chart-container"></div>
{{/if}}
{{#if show.equip}}
  <h4>Equipment overall status for <span id="selected-fq">{{currQ}}</span>:</h4>
  <div class="mb-4" id="equip-table-container"></div>
  <div class="mb-4" id="equip-chart-container"></div>
{{/if}}
{{#if show.proc}}
  <h4>Process overall status for <span id="selected-fq">{{currQ}}</span>:</h4>
  <div class="mb-4" id="proc-table-container"></div>
  <div class="mb-4" id="proc-chart-container"></div>
{{/if}}
{{#if show.ops}}
  <h4>Ops overall status for <span id="selected-fq">{{currQ}}</span>:</h4>
  <div class="mb-4" id="ops-table-container"></div>
  <div class="mb-4" id="ops-chart-container"></div>
{{/if}}
